:root {
    --border: #888888;
    --decor: #777777;
    --text: #141414;
    --text-secondary: #555555;
    --danger: #d62c1a;
    --danger--dark: #a82315;
}

html {
    height: 100%;
    font-size: 16px;
    background: #f3f3f3;
}
​
body {
    font-family: sans-serif;
    margin: 0;
    padding: 2rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text);
    position: absolute;
   }
​
h1, h2 {
    padding: 10px;
    margin: 2rem 0 0 0;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
​
.intro__heading {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.new-item {
    margin: 2rem 0 0 0;
    padding: 1rem 0 0 0;

}
​
.visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
}

input[type = email], input[type = password], input[type = userName], input[type = register-user-name], input [type = text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.l1, .l2, .l3 {
    color: black;
    padding: 8px;
    font-family: "3DS Fonticon";
}

.labelForCounter {
    display: flex;
    justify-content: center;
}

#new-item-field {
    display: flex;
    width: 416px;
    height: 30px;
}

.boile {
    margin: auto 32%;
    position: -ms-device-fixed;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding: 30px;
}
.formStyle {
     margin: 10px 32%;
     position: -ms-device-fixed;
     width: auto;
     background-color: rgba(0, 0, 0, 0.5);
     color: whitesmoke;
     padding: 30px;
 }

.wrapper {
    margin: auto 32%;
    position: absolute;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    text-align: center;
}

#toRegister, #signIn, #register-button, #logOut, #save-button\ new-item__button {
    background-color: goldenrod;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#filter_all, #filterForChecked, #filterForUnChecked {
    background-color: tan;
    border: none;
    color: white;
    position: -ms-device-fixed;
    padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 1px 2px;
    border-radius: 4px;
}
#filter_all:hover, #filterForChecked:hover, #filterForUnChecked:hover {
    opacity: 0.5;
}

#backTologIn {
    background-color: aqua;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#logOut:hover, #backTologIn:hover  {
    opacity: 0.8;
    background: red;
}

#save-button\ new-item__button:hover, #register-button:hover {
    opacity: 0.8;
    background: darkgreen;
}

#toRegister:hover, #signIn:hover {
        opacity: 0.8;
        background: chocolate;
 }

.underline {
    text-decoration:line-through;
}

.forehead {
    text-align: center;
}

.mouseOver, .editInput {
    display: none;
}





